<form [formGroup]="mform" (submit)="onSubmit()">
  <div>
    <label>Select target audience:</label>
    <select name="target" formControlName="target">
      <option [value]="o" *ngFor="let o of AUDIENCE">{{ o }}</option>
    </select>
  </div>
  <table>
    <tbody>
      <tr *ngFor="let o of PRODUCT_LIST">
        <td>{{ o.name }}</td>
        <td>
          <app-quantity-input [productCode]="o.code" (onChange)="handleOnChange($event)"></app-quantity-input>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button type="submit">Checkout</button>
  </div>
  <div>
    <p>Total: {{ total | currency:'RM ' }}</p>
  </div>
</form>